body {

}

/*** ================= HEADER START =================== ***/

header {
    width: 100%;
    height: 450px;
    display: block;
    background: #aed4da;
}

/*** ================= HEADER END =================== ***/

/*** ================= NAVIGATION START =================== ***/

nav {
    width: 100%;
    display: block;
    background: #6677da;
}

nav ul {
    text-align: center;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    padding: 20px;
    display: block;
    white-space: nowrap;
    color: #000;
    -webkit-transition: color 200ms;
    -moz-transition: color 200ms;
    -ms-transition: color 200ms;
    -o-transition: color 200ms;
    transition: color 200ms;
}

nav ul li a:hover {
    color: #32da00;
}

nav ul li a:visited {

}

nav ul li a:active {

}

/*** ================= NAVIGATION END =================== ***/

/*** ================= FOOTER START =================== ***/

footer {
    width: 100%;
    text-align: center;
    background: #da82d7;
    padding: 20px 0;
    display: block;
}

/*** ================= FOOTER END =================== ***/

/*** ================= MAIN START =================== ***/

main {

}

/*** ================= MAIN END =================== ***/

/*** ================= RECENT ARTICLES START =================== ***/

.recent-article-wrapper {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    background: #70bada;
}

.recent-article-main-title {
    font-size: 3em;
    color: #f4f4f4;
    padding-top: 10px;
    text-align: left;
    padding-left: calc(10% - 39px);
}

.recent-article {
    background: #da865a;
    width: 20%;
    margin: 20px 10px 20px 10px;
    display: inline-block;
    height: auto;

}

.recent-article-img {
    min-width: 100%;
    max-width: 100%;
}

.recent-article-title {

}

.recent-article-content {

}

/*** ================= RECENT ARTICLES END =================== ***/

/*** ================= CALL FOR PAPERS START =================== ***/

.cfp {

}

.send-script-button {
    text-decoration: none;
}

/*** ================= CALL FOR PAPERS END =================== ***/






















