body {
    background: #f3f3f3;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8em;
    line-height: 150%;
}

/*** ================= HEADER START =================== ***/

header {
    width: 100%;
    height: 500px;
    display: block;
    background: #aed4da;
}

.header-homepage {
    background: url(../img/header_homepage.jpg) no-repeat center top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    margin-top: -2%;
}

.header-logo {
    background: #e07929;
    width: 43%;
    margin-top: 6%;
    position: absolute;
    padding: 1% 3%;
}

.header-logo-main-title {
    color: #FFFFFF;
    font-size: 2em;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
}

.header-welcome {
    width: 43%;
    margin-top: 11%;
    position: absolute;
    padding: 1% 3%;
}

.header-welcome-text {
    color: #FFF;
    font-family: 'open sans', sans-serif;
    font-size: 1.2em;
}

/*** ================= HEADER END =================== ***/

/*** ================= NAVIGATION START =================== ***/

nav {
    width: 100%;
    display: block;
    background: #252525;
}

nav ul {
    text-align: center;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9em;
    text-decoration: none;
    padding: 20px;
    display: block;
    white-space: nowrap;
    color: #FFFFFF;
    -webkit-transition: color 200ms;
    -moz-transition: color 200ms;
    -ms-transition: color 200ms;
    -o-transition: color 200ms;
    transition: color 200ms;
}

nav ul li a:hover {
    color: #000000;
    background: #e07929;
}

nav ul li a:visited {

}

nav ul li a:active {

}

.nav-placeholder {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    z-index: 500;
}

.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    -webkit-transform: translateZ(0);
}

.active {
    background: rgba(0, 0, 0, 0.3);
    color: #FFFFFF;
}

/*** ================= NAVIGATION END =================== ***/

/*** ================= FOOTER START =================== ***/

footer {
    width: 100%;
    background: #252525;
    padding: 40px 0;
    float: left;
    color: #FFF;
    font-size: 0.8em;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    justify-content: center;
    -webkit-justify-content: center;
}

.footer-block {
    width: auto;
    margin: 0 0 0 80px;
    line-height: 150%;
}

.footer-block-about {
    width: 22%;
}

.footer-title {
    font-size: 1.2em;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: block;
    font-weight: 600;
    padding: 0 0 10px 0;
}

footer p {
    font-size: 0.9em;
}

footer a {
    color: #FFF;
    text-decoration: none;
}

footer a:hover{
    color: #e07929;
    text-decoration: none;
}

/*** ================= FOOTER END =================== ***/

/*** ================= INDEX MAIN START =================== ***/

.index-main {
    display: inline-block;
    width: 80%;
    float: left;
}

.index-aside {
    display: inline-block;
    width: 20%;
    float: left;
}

/*** ================= MAIN END =================== ***/

/*** ================= RECENT ARTICLES START =================== ***/

.recent-article-wrapper {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 40px 0;
}

.recent-article-main-title {
    font-size: 2em;
    color: #000000;
    padding-top: 10px;
    text-align: left;
    padding-left: calc(10% - 37px);
    font-family: 'Open Sans', sans-serif;
}

.recent-article {
    background: #FFFFFF;
    width: 20%;
    margin: 20px 10px 20px 10px;
    display: inline-block;
    height: auto;
    -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    padding: 0 0 1% 0;
    text-align: left;
    vertical-align: top;
}

.recent-article-img {
    min-width: 100%;
    max-width: 100%;
}

.recent-article-title {
    font-family: 'Open Sans', sans-serif;
    padding: 0 5% 2% 5%;
    font-weight: 600;
    font-size: 1.2em;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: block;
    margin: 6% 0 0 0;
}

/* Kolla vad som är bäst att göra med detta + för index, pga tinyMCE avslutar denna content och sätter in sin egen p istället, dvs den nedanför */
.recent-article-content {
    font-family: 'Open Sans', sans-serif;
    padding: 2% 5% 2% 5%;
    font-size: 0.8em;
    margin: 4% 0 0 0;
}

.recent-article p {
    font-family: 'Open Sans', sans-serif;
    padding: 2% 5% 2% 5%;
    font-size: 0.8em;
    margin: 4% 0 0 0;
    line-height: 150%;
}

.recent-article-more {
    background: #FFFFFF;
    width: 50%;
    margin: 20px 10px 20px 10px;
    display: inline-block;
    height: auto;
    -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    padding: 1% 0;
    text-align: left;
    vertical-align: top;
}

.recent-article-more-title {
    font-family: 'Open Sans', sans-serif;
    padding: 0 5% 2% 5%;
    font-weight: 600;
    font-size: 1.2em;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: block;
    margin: 4% 0 0 0;
}

.recent-article-more p {
    font-family: 'Open Sans', sans-serif;
    padding: 0% 5% 2% 5%;
    font-size: 0.8em;
    margin: 0% 0 0 0;
    line-height: 150%;
}

.article-more-back {
    font-family: 'Open Sans', sans-serif;
    padding: 0 0 0 5%;
    font-size: 0.8em;
    color: #e07929;
}


.article-more-back:hover {
    color: #000;
}

/*** ================= RECENT ARTICLES END =================== ***/

/*** ================= CALL FOR PAPERS START =================== ***/

.cfp,
.news-feed {
    background: #fff;
    margin: 20px 0;
    padding: 10px;
    -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.send-script-button {
    text-decoration: none;
}

/*** ================= CALL FOR PAPERS END =================== ***/

/*** ================= NEWSFEED START =================== ***/

.news-feed {
    height: 750px;
    overflow-y: auto;
    overflow-x: hidden;
}

.news-feed-container {
}

.news-main-title {
    font-size: 1.4em;
    margin-bottom: 10px;
}

.news-date {
    font-size: 0.6em;
    padding-top: 30px;
}

.news-title {
    font-size: 1.1em;
    margin: 5px 0;

}

.news-content {
    font-size: 0.9em;
}

.news-post {
}

/*** ================= NEWSFEED END =================== ***/

/*** ================= OM OSS START =================== ***/

.about-staff {
    width: 74%;
    margin: 0 auto;
    padding: 40px 0;
}

.about-staff-main-title {
    font-family: 'Open Sans', sans-serif;
    font-size: 2em;
    color: #000000;
    text-align: left;
}

.staff-wrapper {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    background: #FFF;
    padding: 40px 0;
}

.staff-main-title {
    font-size: 2em;
    color: #000000;
    text-align: left;
    padding-left: calc(13% + 1px);
    font-family: 'Open Sans', sans-serif;
}

.staff {
    background: #FFFFFF;
    width: 22%;
    margin: 20px 25px 0px 25px;
    display: inline-block;
    height: auto;
    text-align: left;
    vertical-align: top;
}

.staff-img {
    min-width: 100%;
    max-width: 100%;
}

.staff-title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 1.2em;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: block;
    margin: 6% 0 0 0;
}

/* Kolla vad som är bäst att göra med detta + för index, pga tinyMCE avslutar denna content och sätter in sin egen p istället, dvs den nedanför */
.staff-content {
    font-family: 'Open Sans', sans-serif;
    padding: 2% 5% 2% 5%;
    font-size: 0.8em;
    margin: 4% 0 0 0;
}

.staff p {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8em;
    line-height: 150%;
}

/*** ================= OM OSS END =================== ***/

/*** ================= PRENUMERERA START =================== ***/

.price-info-wrapper {
    width: 80%;
    display: block;
    height: 300px;
    margin: 0 auto;
    padding: 40px 0;
}

.subscription-price {
    width: calc(100% / 3);
    display: block;
    float: left;
    height: 300px;
    background: #ccda3b;
}

.subscription-price-main-title {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5em;
    color: #000000;
    text-align: left;
}

.subscription-info {
    width: calc(100% / 3 * 2);
    display: block;
    float: left;
    height: 300px;
    background: #666eda;
}

.subscription-info-main-title {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5em;
    color: #000000;
    text-align: left;
}

/*** ================= PRENUMERERA END =================== ***/

/*** ================= SKICKA MANUS START =================== ***/

.script-wrapper {
    width: 80%;
    display: block;
    margin: 0 auto;
    padding: 40px 0;
}

.script-info {
    width: 100%;
    display: block;
    background: #da3873;
}

.script-info-main-title {
    font-family: 'Open Sans', sans-serif;
}

.script-reviewers {
    width: 50%;
    display: block;
    float: left;
    background: #70bada;
}

.script-reviewers-main-title {
    font-family: 'Open Sans', sans-serif;
}

.script-examiner {
    width: 50%;
    display: block;
    float: left;
    background: #6677da;
}

.script-examiner-main-title {
    font-family: 'Open Sans', sans-serif;
}

.script-form-wrapper {
    width: 100%;
    display: block;
    float: left;
    padding: 40px 0;
}

.script-form-inner-wrapper {
    width: 50%;
    margin: 0 auto;
}

.script-form {
    margin: 0 auto;
    display: block;
}

.script-form-ul {

}

.script-form-li {

}

.script-form-input {

}

.script-form-input-submit {

}

/*** ================= SKICKA MANUS END =================== ***/

/*** ================= KONTAKT START =================== ***/

.contact-wrapper {
    width: 100%;
    height: 200px;
    margin: 0 auto;
    display: block;
    padding: 40px 0;
}

.contact-info-main-title {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6em;
    color: #000000;
    text-align: left;
}

.contact-info {
    width: calc(80% / 3 * 2);
    display: block;
    float: left;
    height: 200px;
    background: #f3f3f3;
    margin: 0 0 0 10%;
}

.contact-info-ul {

}

.contact-info-li {
    font-family: 'Open Sans', sans-serif;
    line-height: 150%;
}

.contact-more-info {
    width: calc(80% / 3);
    display: block;
    float: left;
    height: 200px;
    background: #f3f3f3;
    margin: 0 10% 0 0;
    padding: 20px 0 0 0;
}

.contact-map {
    width: 100%;
    display: block;
    float: left;
    height: 400px;
    background: #f3f3f3;
}

#map {
    width: 100%;
    height: 400px;
}

/*** ================= KONTAKT END =================== ***/

/*** ================= TABS START =================== ***/

#tabs {
    width: 50%;
    display: block;
    margin: 20px auto;
}

#tabs ol {
    padding-left: 10px;
}

#tabs ol li {
    list-style: decimal;
    padding: 10px 0;
}

#tabs ol li p {

}

/*** ================= TABS END =================== ***/

/*** ================= WYSIWYG START =================== ***/
strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

ul {
    /* list-style: none; */
}
/*** ================= WYSIWYG END =================== ***/
